@import "tailwindcss";
@import "tw-animate-css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/slate.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* font family */
  --font-primary: "Open Sans", sans-serif, "Padauk";

  /* colors */
  --color-gradient-start: #517dfa;
  --color-gradient-end: #0a47f8;

  --color-text-primary: #3F63DD;
  --color-text-secondary: #666666;

  --color-stroke-primary: #d9d9d9;
  --color-hover-primary: #e6e6e6;

  --color-bg-primary: #f7f7f7;
  --color-base-primary: #3F63DD;
  --color-base-secondary: #EAF0FD;

  --color-success: #07df73;
  --color-warning: #f78708;
  --color-alert: #f82020;
  --color-info: #0a47f8;

  /* font sizes */
  --text-h1: 32px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 16px;
  --text-h5: 16px;
  --text-h6: 13px;
  --text-caption: 10px;

  /* line heights */
  --leading-h1: 48px;
  --leading-h2: 36px;
  --leading-h3: 30px;
  --leading-h4: 24px;
  --leading-h5: 24px;
  --leading-h6: 24px;
  --leading-caption: 18px;

  /* font weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-regular: 300;

  /* icon size */
  --icon-xs: 12px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;
  --icon-xl: 48px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
  --radius-4xl: 40px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.425rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #3F63DD;                 /* bg */
  --sidebar-foreground: #ffffff;      /* text / icons */
  --sidebar-border: #ffffff;         /* border (80% opacity) */
  --sidebar-accent: #EDF2FE;           /* hover / active bg */
  --sidebar-accent-foreground: #3458C6;/* hover text */
  --sidebar-ring: #5b7cff;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #111827;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: #ffffff50; /* border (20% opacity) */
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-primary);
    @apply bg-background text-black tracking-wider;
  }
}

@layer components {
  .text-caption {
    font-size: var(--text-caption);
    line-height: var(--leading-caption);
    font-weight: var(--font-weight-regular);
  }

  .text-h1 {
    font-size: var(--text-h1);
    line-height: var(--leading-h1);
    font-weight: var(--font-weight-bold);
  }

  .text-h2 {
    font-size: var(--text-h2);
    line-height: var(--leading-h2);
    font-weight: var(--font-weight-bold);
  }

  .text-h3 {
    font-size: var(--text-h3);
    line-height: var(--leading-h3);
    font-weight: var(--font-weight-semibold);
  }

  .text-h4 {
    font-size: var(--text-h4);
    line-height: var(--leading-h4);
    font-weight: var(--font-weight-semibold);
  }

  .text-h5 {
    font-size: var(--text-h5);
    line-height: var(--leading-h5);
    font-weight: var(--font-weight-regular);
  }

  .text-h6 {
    font-size: var(--text-h6);
    line-height: var(--leading-h6);
    font-weight: var(--font-weight-regular);
  }

  .icon-xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
  }
  .icon-sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
  }
  .icon-md {
    width: var(--icon-md);
    height: var(--icon-md);
  }
  .icon-lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
  }
  .icon-xl {
    width: var(--icon-xl);
    height: var(--icon-xl);
  }

  .rounded-small {
    border-radius: var(--radius-sm);
  }
  .rounded-medium {
    border-radius: var(--radius-md);
  }
  .rounded-large {
    border-radius: var(--radius-lg);
  }
  .rounded-xlarge {
    border-radius: var(--radius-xl);
  }
  .rounded-2xlarge {
    border-radius: var(--radius-2xl);
  }
  .rounded-3xlarge {
    border-radius: var(--radius-3xl);
  }
  .rounded-4xlarge {
    border-radius: var(--radius-4xl);
  }
}
